
<mat-drawer-container class="container-fluid" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <app-sidenav [username]="data_Obs"></app-sidenav>
  </mat-drawer>

  <div class="content at-elevation-z8">

    <app-content></app-content>
  
  </div>

</mat-drawer-container>